.env
.env.test

/venv
/docs
/learning-phase
books_config.json

/DECISIONS.md

__pycache__/
*.pyc
*.pyo
*.pyd
/scraper/cloud_config.py
/scraper/logs

/logs

.coverage
.coverage.*
htmlcov/
nshtmlcov/
coverage.xml

# Local Logs and Artifacts
cloud_docker_logs.txt
/server_logs/

# Security / Keys
*.pem

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.*.tf
*.tfvars
*.tfvars.json